body
  padding-top: 60px


.Feature blockquote p
  white-space: pre

div.success
  background-color: #E7F2E7

div.notice
  background-color: #E5F4F9
  
div.warning
  background-color: #FFEDD7
  
#sidebar
  border-right: 1px solid grey