body
  padding-top: 60px


.Feature blockquote p
  white-space: pre

div.success
  background-color: #E7F2E7

div.notice
  background-color: #E5F4F9
  
div.warning
  background-color: #FFEDD7

div.important
  background-color: #FFD4D4

tr.passed
  color: #46A546

tr.pending
  color: #62CFFC

tr.skipped
  color: #BFBFBF

tr.undefined
  color: #F89406

ul.nav > .active a
  color: red

ul.nav > .report a
  color: red  