!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
    
  body
    .topbar
      .topbar-inner
        .container-fluid
          a(class="brand", href="#") Cucumber Reporter
          ul(class="nav")
            li(class="dropdown apps")
              a(href="#", class="dropdown-toggle")= "Apps"
              ul(class="dropdown-menu", id="app_list")
           

    div(id='content', class='container-fluid')
      div(class='row')
        div(class='span3', id='sidebar')
        div(class='span16', id='report')
        
|<script id="instances_view" type="text/html">
|  <a href="#", class="dropdown-toggle">Instances</a>
|  <ul class="dropdown-menu", id="instance_list"></ul>
|</script>

|<script id="navigation" type="text/html">
|   <li class="dropdown apps">
|      <a href="#" class='dropdown-toggle'>App</a>
|      <ul class='dropdown-menu'>
|      </ul>
|   </li>
|</script>

|<script id="nav_view" type="text/html">
|      <a {{#active}}class='active'{{/active}} href="#app/{{name}}">{{name}}</a>
|</script>

|<script id="instance_view" type="text/html">
| <a href='#app/{{app_name}}/{{name}}'>{{name}}</a>
|</script>

|<script id="tag" class="partial" type="text/html">
| <li class='tag'>{{.}}</li>
|</script>

|<script id="steps" class="partial" type="text/html">
|<div class='row'>
|  <div class='span8 {{keyword}}'>
|    <strong>{{keyword}}</strong> {{name}}
|    {{#exception}}
|      <div class="exception">
|        <strong>{{name}}</strong>
|        <span>Expected: {{expected}} {{operator}} {{actual}}</span>
|        <pre><code>
|           {{stack}}
|        </code></pre>
|      </div>
|    {{/exception}}
| </div>
|  <div class='span1'>
|     {{#result}}
|       <span class='label {{label}}'>{{status}}</span>
|     {{/result}}
|  </div> 
|</div>
|</script>

|<script id="background" class="partial" type="text/html">
|      <h4>Background</h4>
|  <div class='well {{#result}}{{label}}{{/result}}'>
|    {{#steps}}
|      {{>steps}}
|    {{/steps}}
|  </div>
|</script>

|<script id="scenario" class="partial" type="text/html">
| <div class="{{keyword}} {{#result}}{{status}}{{/result}}">
|      <h4>{{name}} <small>{{duration}} ms</small></h4>
|  <div class='well {{#result}}{{label}}{{/result}}'>
|    {{#steps}}
|      {{>steps}}
|    {{/steps}}
|  </div>
| </div>
|</script>

|<script id="feature" class="partial" type="text/html">
|<div class='{{keyword}} row {{#result}}{{status}}{{/result}}'>
|  <div class='span6'>
|    <h2>{{name}} <small>{{duration}} ms</small></h2>
|    {{#description}}<blockquote><p>{{{description}}}</p></blockquote>{{/description}}  
|    <h3>Tags</h3>
|    <ul>{{#tags}}{{>tag}}{{/tags}}</ul>
|  </div>
|  <div class='span10'>
|    {{#background}}{{>background}}{{/background}}
|    {{#scenarios}}{{>scenario}}{{/scenarios}}
|  </div>  
|</div>
|</script>

|<script id="result_view" type="text/html">
| <div class="well">
|   <h3>
|     {{app_name}}
|     <small>{{name}}</small>
|   </h3>
|   <ul class='results unstyled'>
|   </ul>
| </div>
|</script>

|<script id="result_item_view" type="text/html">
|   <a class="{{#active}}active{{/active}}" href="#app/{{app_name}}/{{instance_name}}/{{timestamp}}"><time class="timeago" datetime="{{created_at}}">{{created_at}}</time></a>
|</script>

|<script id="report_view" type="text/html">
| <div class='row'>
|   <div class="span8">  
|     <h1>
|       <time datetime="{{created_at}}">{{created_at}}</time>
|       <br/>
|       <small>
|         completed in {{duration}} seconds <br/>
|         <time class="timeago" datetime="{{created_at}}">{{created_at}}</time> 
|       </small>
|     </h1>
|   </div>
|   <div class="span4">
|      <table class='zebra-striped'>
|       <tbody>
|           <tr class='passed'>
|               <td>Passed Steps</td>
|               <td>{{passed_steps_count}}</td>
|           </tr>
|           <tr class='pending'>
|               <td>Pending Steps</td>
|               <td>{{pending_steps_count}}</td>
|           </tr>
|           <tr class='skipped'>
|               <td>Skipped Steps</td>
|               <td>{{skipped_steps_count}}</td>
|           </tr>
|           {{#undefined}}
|               <tr class="undefined">
|                 <td>Undefined Steps</td>
|                 <td>{{undefined_steps_count}}</td>
|               </tr>
|           {{/undefined}}
|           {{#failing}}
|               <tr>
|                 <td>Failed Steps</td>
|                 <td>{{failed_steps_count}}</td>
|               </tr>
|           {{/failing}}
|       </tbody>
|      </table>
|   </div>
|   <div class="span4">
|      <table class='zebra-striped feature_info'>
|       <tbody>
|           <tr>
|             <td>Features</td>
|             <td>{{feature_count}}</td>
|           </tr>
|           <tr class='feature passed'>
|               <td>Passed Features</td>
|               <td>{{passed_features_count}}</td>
|           </tr>
|           {{#pending}}
|           <tr class='feature pending'>
|               <td>Pending Features</td>
|               <td>{{pending_features_count}}</td>
|           </tr>
|           {{/pending}}
|           {{#undefined}}
|           <tr class='feature undefined'>
|               <td>Undefined Features</td>
|               <td>{{undefined_features_count}}</td>
|           </tr>
|           {{/undefined}}
|           {{#failing}}
|           <tr class='feature failed'>
|               <td>Failed Features</td>
|               <td>{{failed_features_count}}</td>
|           </tr>
|           {{/failing}}
|           <tr>
|             <td>Scenarios</td>
|             <td>{{scenario_count}}</td>
|           </tr>
|           <tr class='scenario passed'>
|               <td>Passed Scenarios</td>
|               <td>{{passed_scenarios_count}}</td>
|           </tr>
|       </tbody>
|      </table>
|   </div>
| </div>
| {{#features}}{{>feature}}{{/features}}
|</script>