!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
    
  body
    .topbar
      .topbar-inner
        .container-fluid
          a(class="brand", href="#") Cucumber Reporter
          ul(class="nav")
            li(class="dropdown apps")
              a(href="#", class="dropdown-toggle")= "Apps"
              ul(class="dropdown-menu", id="app_list")
           

    div(id='content', class='container-fluid')
      div(class='row')
        div(class='span3', id='sidebar')
        div(class='span16', id='report')
        
|<script id="instances_view" type="text/html">
|  <a href="#", class="dropdown-toggle">Instances</a>
|  <ul class="dropdown-menu", id="instance_list"></ul>
|</script>

|<script id="navigation" type="text/html">
|   <li class="dropdown apps">
|      <a href="#" class='dropdown-toggle'>App</a>
|      <ul class='dropdown-menu'>
|      </ul>
|   </li>
|</script>

|<script id="nav_view" type="text/html">
|      <a {{#active}}class='active'{{/active}} href="#">{{name}}</a>
|</script>

|<script id="instance_view" type="text/html">
| <a href='#'>{{name}}</a>
|</script>

|<script id="tag" class="partial" type="text/html">
| <li class='tag'>{{.}}</li>
|</script>

|<script id="steps" class="partial" type="text/html">
|<div class='row'>
|  <div class='span8 {{keyword}}'><strong>{{keyword}}</strong> {{name}}</div>
|  <div class='span1'>{{#result}}<span class='label {{label}}'>{{status}}</span>{{/result}}</div> 
|</div>
|</script>

|<script id="scenario" class="partial" type="text/html">
|  <div class='row {{keyword}}'>
|    <div class='span8'>
|      <h4>{{name}} <small>{{duration}} milliseconds</small></h4>
|    </div>
|  </div>
|  <div class='well {{#result}}{{label}}{{/result}}'>{{#steps}}{{>steps}}{{/steps}}</div>
|</script>

|<script id="feature" class="partial" type="text/html">
|<div class='{{keyword}} row'>
|  <div class='span6'>
|    <h2>{{name}} <small>{{duration}} milliseconds</small></h2>
|    {{#description}}<blockquote><p>{{{description}}}</p></blockquote>{{/description}}  
|    <h3>Tags</h3>
|    <ul>{{#tags}}{{>tag}}{{/tags}}</ul>
|  </div>
|  <div class='span10'> 
|    {{#scenarios}}{{>scenario}}{{/scenarios}}
|  </div>  
|</div>
|</script>

|<script id="result_view" type="text/html">
| <div class="well">
|   <h3>
|     {{app_name}}
|     <small>{{name}}</small>
|   </h3>
|   <ul class='results unstyled'>
|   </ul>
| </div>
|</script>

|<script id="result_item_view" type="text/html">
|   <a href="#"><time class="timeago" datetime="{{timestamp}}">{{timestamp}}</time></a>
|</script>

|<script id="report_view" type="text/html">
| <h1>
|   <time datetime="{{created_at}}">{{created_at}}</time>
| </h1>
| <div class='row'>
|   <div class='span5'>
|     <table class='zebra-striped'>
|       <tbody>
|           <tr>
|             <td>Duration</td>
|             <td>{{duration}} Seconds</td>
|           </tr>
|           <tr>
|             <td>Features</td>
|             <td>{{feature_count}}</td>
|           </tr>
|           <tr>
|             <td>Scenarios</td>
|             <td>{{scenario_count}}</td>
|           </tr>
|           <tr class='passed'>
|               <td>Passed Steps</td>
|               <td>{{passed_steps_count}}</td>
|           </tr>
|           <tr class='pending'>
|               <td>Pending Steps</td>
|               <td>{{pending_steps_count}}</td>
|           </tr>
|           <tr class='skipped'>
|               <td>Skipped Steps</td>
|               <td>{{skipped_steps_count}}</td>
|           </tr>
|           {{#undefined}}
|               <tr class="undefined">
|                 <td>Undefined Steps</td>
|                 <td>{{undefined_steps_count}}</td>
|               </tr>
|           {{/undefined}}
|           {{#failing}}
|               <tr>
|                 <td>Failed Steps</td>
|                 <td>{{failed_steps_count}}</td>
|               </tr>
|           {{/failing}}
|       </tbody>
|      </table>
|   </div>
| </div>
| {{#features}}{{>feature}}{{/features}}
|</script>