!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
    
  body
    .topbar
      .topbar-inner
        .container-fluid
          a(class="brand", href="#") Cucumber Reporter
          ul.nav
            li.active
              a(href="#") All
          
            li.active
              a(href="#") Passed
            
            li.active
              a(href="#") Pending
            
            li.active
              a(href="#") Failed
    .container-fluid
      .sidebar
        .well
          h5 Server
          ul
            li
              a(href="#") Current
    
      .content        
        .cucumber-report